@font-face {
  font-family: "alarm";
  src: url("./alarm-clock.ttf");
}

@font-face {
  font-family: "Teko";
  src: url("./Teko-VariableFont_wght.ttf");
}

.entryboard {
  display: flex;
  position:relative;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  background: #181818;
  color: lightgrey;
}

.assignment {
  width: 20%; /*5 columns*/
}

.assignment .locker-room-identifier {
  font-family: "alarm", monospace;
  text-transform: uppercase;
  font-size: 2.5vw;
  text-align: center;
}

.assignment-team-info {
  display: flex;
  justify-content:center;
  flex-wrap:wrap;
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  color: lightgrey;
  font-size: 3vw;
  text-align: center;
}

.assignment-team-name select {
  width: 90%;
  background: #181818;
  color: lightgrey;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  /* white-space: pre; */
  /* overflow-wrap: break-word;
  white-space: normal;
  overflow-y:visible; */
}

.assignment-team-name option {
  border: solid 1px darkblue;
}

.edit-button {
  position:absolute;
  align-self:flex-start;
  margin: 1em;
  font-family: "Teko", "sans-serif";
  text-transform: uppercase;
  font-size: 2vw;
}

.edit-button button {
  background: #272727;
  color: lightgrey;
}

.team-image {
  /* margin: 1vh; */
  padding: 1vh;
}

.refresh-button {
  position:absolute;
  align-self:flex-start;
  margin: 2em;
  font-family: "Teko", "sans-serif";
  text-transform: uppercase;
  font-size: 2vw;
}

.refresh-button button {
  background: #272727;
  color: lightgrey;
}

